@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  background-color: #1A0B2E;
}
.font-inter {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
}

.navbar {
  background-color: #1A0B2E;
  padding: 20px 0;
}

.nav-container {
  width: 71%;
  max-width: 1600px;
  margin: auto;
  padding: 0 20px;
  display: grid;
  grid-template-columns: auto 1fr auto;
  align-items: center;
}

.logo {
  color: #FFFFFF;
  font-size: 24px;
  font-weight: bold;
}
.color-linear {
  background: linear-gradient(20deg,#F7E93F, #FB09B4, #9100F8);
  background-clip: text;
  color: transparent;
}

.menu {
  display: flex;
  list-style: none;
  justify-content: center;
  gap: 30px;
}

.menu a {
  text-decoration: none;
  color: #333;
  font-weight: 500;
  color: #FFFFFF;
}
.menu-btn {
  display: none;
}

.btn-primary, .btn-primary2 {
  border: none;
  font-size: 15px;
  padding: 10px 24px 10px 24px;
  border-radius: 20px;
  weight: 130px;
  align-items: center;
  display: flex;
  gap: 8px;
  background: linear-gradient(45deg,#F7E93F, #FB09B4, #9100F8);
  color: #FFFFFF;
  cursor: pointer;
}
.btn-primary img {
  width: 20px;
  justify-content: center;
  align-items: center;
}
.line1{
  width: auto;
  margin-right: auto;
  margin-left: auto;
  height: 1px;
  background: rgba(255, 255, 255, 0.12);
}
/* Banner Section */

.container {
  padding: 20px;
}

.hero-content {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  overflow: hidden;
}

.hero-bg {
  position: absolute;
  inset: 0;
  z-index: 0;
}

.hero-bg img {
  width: 100%;
  height: 110%;
  background-position: center;
  background-size: cover;
}

.image-content {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -55%);
}

.hero-circle {
  width: 400px;
}

.microphone {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 120px;
}
.new-badge {
  position: absolute;
  top: 10px;
  left:+250px;
  background: #00ff88;
  color: #000;
  font-style: 200;
  font-size: 20px;
  padding: 4px 10px;
  border-radius: 30px;
  box-shadow: 0px 3px 27px 0px rgba(0, 255, 136, 0.5);
}
.new-badge:hover{
    transform: translateY(-5px);
    background-color: #59d199;
}

.text-content {
  margin-top: 400px;
  position: relative;
  max-width: 520px;
  margin-bottom: 20px;
}

.container h2 {
  color: #FFFFFF;
  font-size: 56px;
  margin-top: 100px;
}

.text-content p {
  height: auto;
  opacity: 60%;
  color: #FFFFFF;
}
.about p{
  color: #FFFFFF;
  margin-bottom: 125px;
  opacity: 60%;
}

.hero-buttons {
  display: flex;
  justify-content: center;
  gap: 15px;
}

.subscribe-btn {
  background: transparent;
  border: 1px solid #00ff88;
  color: #00ff88;
  padding: 10px 22px;
  border-radius: 20px;
  cursor: pointer;
}

.subscribe-btn img {
  width: 20px;
  justify-content: center;
  align-items: center;
}

.about{
  justify-content: center;
  text-align: center;
  background-color: #1A0B2E;
}

.line {
  max-width: 1500px;
  margin-right: auto;
  margin-left: auto;
  height: 1px;
  background: rgba(255, 255, 255, 0.12);
}
.card-title {
  font-size: 48px;
  font-weight: 800;
  line-height: 50px;
  text-transform: capitalize;
  color:rgba(0, 255, 136, 1) ;
  margin-bottom: 10px;
}
.card-title:hover{
    transform: translateY(-5px);
}
.about-card {
  display: grid;
  grid-template-columns: repeat(4,1fr);
  gap: 30px;
  margin-top: 100px;
   margin-bottom: 100px;
}
.choose-section{
  background:  rgba(37, 13, 68, 1); 
  margin: 20px auto;
  padding-top: 50px;
  padding-bottom: 50px;
  gap: 50px;
}
.choose{
  margin-left: 150px;
  margin-right: 150px;
}
.choose-section p{
  color: #FFFFFF;
  margin-bottom: 125px;
  opacity: 60%;
}
h1{
  color: #FFFFFF;
  display: flex;
  justify-content: center;
}

h5 {
  color: #FFFFFF;
  font-style: Bold;
  font-size: 20px;
  font-weight: 600;
  line-height: 29px;
  margin-top: 10px ;
  margin-bottom: 10px;
}

.box{
  padding: 20px;
  border-radius: 40px;
  background: rgba(53, 17, 101, 0.4);
}
.choose-box{
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(3,1fr);
  grid-template-rows: repeat(3,1fr) ;
  gap: 20px;
}

.box-1 {
  grid-row: span 2;
}
.box-2 ,.box-3, .box-4 {
  grid-column: span 2;
}
.box-5{
  grid-column: span 1;
}
.box img{
  padding: 5px;
}
.features{
  width: 300px;
  height: 440px;
  border-radius:  24px ;
  background: rgba(37, 13, 68, 1);  
  padding: 10px;
}

.features:hover{
    transform: translateY(-5px);
}

.feature-container{
  display: grid;
  grid-template-columns: repeat(3,1fr);
  justify-items: center;
  margin: 20px 200px;
}
.features p{
  color: #FFFFFF;
  opacity: 60%;}

iframe{
  border-radius: 24px 24px 0px 0px;
}

.meet-section{
  margin: 20px 200px;
  margin-top: 100px;
}
.meet-container{
  display: flex;
  background: rgba(37, 13, 68, 1);
  justify-content: center;
  align-items: center;
  border-radius: 40px;
  padding: 40px;
  gap: 24px;
}
.meet-container p {
  color: #FFFFFF;
  opacity: 60%;
}
.meet-img{
  margin: 25px 0;
  margin-top: 25px;
}

.meet-img img{
  width: 30px;
  gap: 20px;
  border: 1px solid #533C72;
  border-radius: 50%;
}

footer{
  background-image: url(./assets/footer-bg.png);
  background-size: cover;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding-top: 30px;
  padding-bottom: 30px;
  margin-top: 100px;
  color: white;
  
}
.footer-title{
  font-style: Extra Bold;
  font-size: 60px;
  font-weight: 800;
}
.footer-content{
  max-width: 900px;
  margin: auto;
}

.icon-container{
  display: grid;
  grid-template-columns: repeat(4,1fr);
  justify-content: center;
  padding: 80px;

}
.icon img{
  height: 20px;
}
.icon{
  margin: 25px 0;
  display: flex;
  justify-content: center;
  gap: 5px;
}

/* Small device  */

@media screen and (max-width: 576px) {
   body, .about{
    margin-top: 0px;
}
  .nav-container, .menu-btn {
    grid-template-columns: repeat(1, 1fr);
    display: flex;
    justify-content: space-between;
  }
  .line1{
    width: auto;
  }
  .line{
    width: 400px;
    margin-right: auto;
    margin-left: auto;
  }
  .menu, .btn-primary {
    display: none;
  }
  .logo{
    font-size: 15px;
  }
  .image-content {
    left: 50%;
  }
  .hero-circle { 
    width: 130px;
  }
  .microphone {
    width: 40px;
  }
  .new-badge {
    font-size: 10px;
    top: 12px;
    left:+90px;
  }
  .text-content {
    margin-top: 0;
    padding: 0 10px;
  }
  .container h2 {
    margin-top: 320px;
    font-size: 28px;
  }

  .text-content p {
    font-size: 14px;
    line-height: 22px;
  }
  .about {
    margin-top: -250px;
  }
  
  .about-card {
    display: grid;
    grid-template-columns: repeat(2,1fr);
  }

  .choose{
  margin-left: 20px;
  margin-right: 20px;
}
  .choose-box{
    grid-template-columns: repeat(1,1fr);
    gap: 20px;
  }
  .box-1{
    position: fixed;
  }
  .features{
    width: 50px;
    height: 50px;
    border-radius:  24px ;
    padding: 10px;
}
  .feature-container{
    grid-template-columns: repeat(1,1fr);
    justify-items: center;
    justify-content: center;
    margin: 0 ;
    gap: 20px;
  }

  
  iframe{
    width: 200px;
  }

  .meet-section{
    margin: 0px;
  }

  .meet-container {
    flex-direction: column;
    text-align: center;
    gap: 10px;
  }
  .icon-container {
    grid-template-columns: repeat(2, 1fr);
    padding: 2px;
  }
  .footer-title {
    font-size: 40px;
  }
  .footer-content {
    grid-template-columns: repeat(2, 1fr);
    padding: 30px;
  }

  .footer-title {
    font-size: 36px;
  }

  footer {
    
  }

}


/* Medium Device  */

@media screen and (max-width: 992px){
  .menu, .btn-primary {
    display: none;
  }

  .nav-container, .menu-btn {
    grid-template-columns: repeat(1, 1fr);
    display: flex;
    justify-content: space-between;
  }
  .line1{
    width: auto;
  }
  .line{
    width: auto;
  }
  
  .logo{
    font-size: 20px;
  }
  .image-content {
    left: 50%;
  }
  .hero-circle { 
    width: 230px;
  }
  .microphone {
    width: 80px;
  }
  .new-badge {
    font-size: 20px;
    top: 24px;
    left:+180px;
  }
  .about-card {
    display: grid;
    grid-template-columns: repeat(2,1fr);
  }
  .choose{
  margin-left: 50px;
  margin-right: 50px;
}
  
  .features{
    width: 350px;
    height: 440px;
    border-radius:  24px ;
    padding: 10px;
}
  .feature-container{
    grid-template-columns: repeat(1,1fr);
    justify-items: center;
    justify-content: center;
    gap: 20px;
    margin: 0;
  }
  iframe{
    width: 330px;
  }

  
  .meet-section{
    margin: 0px;
  }

  .meet-container {
    flex-direction: column;
    text-align: center;
    gap: 10px;
  }
}


/* Large Device */
