@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.font-inter {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
}

.navbar {
  background-color: #1A0B2E;
  padding: 20px 0;
}

.nav-container {
  max-width: 1200px;
  margin: auto;
  padding: 0 20px;
  display: grid;
  grid-template-columns: auto 1fr auto;
  align-items: center;
}

.logo {
  color: #FFFFFF;
  font-size: 24px;
  font-weight: bold;
}
.color-linear {
  background: linear-gradient(20deg,#F7E93F, #FB09B4, #9100F8);
  background-clip: text;
  color: transparent;
}

.menu {
  display: flex;
  list-style: none;
  justify-content: center;
  gap: 30px;
}

.menu a {
  text-decoration: none;
  color: #333;
  font-weight: 500;
  color: #FFFFFF;
}
.menu-btn {
  display: none;
}

.btn-primary, .btn-primary2 {
  border: none;
  font-size: 15px;
  padding: 10px 24px 10px 24px;
  border-radius: 20px;
  weight: 130px;
  align-items: center;
  display: flex;
  gap: 8px;
  background: linear-gradient(45deg,#F7E93F, #FB09B4, #9100F8);
  color: #FFFFFF;
  cursor: pointer;
}
.btn-primary img {
  width: 20px;
  justify-content: center;
  align-items: center;
}

/* Hero Section */

.container {
  max-width: 1600px;
  margin: 0 auto;
}

.hero-content {
  position: relative;
  height: 760px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  overflow: hidden;
}

.hero-bg {
  position: absolute;
  inset: 0;
  z-index: 0;
}

.hero-bg img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.image-content {
  position: absolute;
  top: 38%;
  left: 50%;
  transform: translate(-50%, -55%);
  z-index: 1;
}

.hero-circle {
  width: 360px;
}

.microphone {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 90px;
}
.new-badge {
  position: absolute;
  top: 10px;
  left:+250px;
  background: #00ff88;
  color: #000;
  font-size: 12px;
  padding: 4px 10px;
  border-radius: 12px;
}


.text-content {
  margin-top: 400px;
  position: relative;
  max-width: 520px;
}

.text-content h1 {
  color: #FFFFFF;
  font-size: 56px;
  font-weight: 700;
  margin-bottom: 10px;
}

.text-content p {
  color: #FFFFFF;
  width: 550px;
  height: 20px;
  margin-bottom: 25px;
}

.hero-buttons {
  display: flex;
  justify-content: center;
  gap: 15px;
}

.subscribe-btn {
  background: transparent;
  border: 1px solid #00ff88;
  color: #00ff88;
  padding: 10px 22px;
  border-radius: 20px;
  cursor: pointer;
}

.subscribe-btn img {
  width: 20px;
  justify-content: center;
  align-items: center;
}


/* Small device  */

@media screen and (max-width: 576px) {
  .nav-container, .menu-btn {
    grid-template-columns: repeat(1, 1fr);
    display: flex;
    justify-content: space-between;
  }
  .menu, .btn-primary {
    display: none;
  }
  


}

/* Medium Device */

@media screen and (min-width: 577px) and (max-width: 992px){
  .nav-container, .menu-btn {
    grid-template-columns: repeat(2, 1fr);
    display: flex;
    justify-content: space-between;
  }
  .menu, .btn-primary {
    display: none;
  }


  
}

/* Large Device */

