@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  background-color: #1A0B2E;
}
.font-inter {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
}

.navbar {
  background-color: #1A0B2E;
  padding: 20px 0;
}

.nav-container {
  max-width: 1200px;
  margin: auto;
  padding: 0 20px;
  display: grid;
  grid-template-columns: auto 1fr auto;
  align-items: center;
}

.logo {
  color: #FFFFFF;
  font-size: 24px;
  font-weight: bold;
}
.color-linear {
  background: linear-gradient(20deg,#F7E93F, #FB09B4, #9100F8);
  background-clip: text;
  color: transparent;
}

.menu {
  display: flex;
  list-style: none;
  justify-content: center;
  gap: 30px;
}

.menu a {
  text-decoration: none;
  color: #333;
  font-weight: 500;
  color: #FFFFFF;
}
.menu-btn {
  display: none;
}

.btn-primary, .btn-primary2 {
  border: none;
  font-size: 15px;
  padding: 10px 24px 10px 24px;
  border-radius: 20px;
  weight: 130px;
  align-items: center;
  display: flex;
  gap: 8px;
  background: linear-gradient(45deg,#F7E93F, #FB09B4, #9100F8);
  color: #FFFFFF;
  cursor: pointer;
}
.btn-primary img {
  width: 20px;
  justify-content: center;
  align-items: center;
}
.line1{
  width: 1600px;
  margin-right: auto;
  margin-left: auto;
  height: 1px;
  background: rgba(255, 255, 255, 0.12);
}
/* Banner Section */

.container {
  max-width: 1600px;
  margin: 0 auto;
}

.hero-content {
  position: relative;
  height: 760px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  overflow: hidden;
}

.hero-bg {
  position: absolute;
  inset: 0;
  z-index: 0;
}

.hero-bg img {
  width: 100%;
  background-position: center;
  background-size: cover;
}

.image-content {
  position: absolute;
  top: 38%;
  left: 50%;
  transform: translate(-50%, -55%);
}

.hero-circle {
  width: 360px;
}

.microphone {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 90px;
}
.new-badge {
  position: absolute;
  top: 10px;
  left:+250px;
  background: #00ff88;
  color: #000;
  font-style: 300;
  font-size: 20px;
  padding: 4px 10px;
  border-radius: 20px;
}


.text-content {
  margin-top: 400px;
  position: relative;
  max-width: 520px;
}

.container h2 {
  color: #FFFFFF;
  font-size: 56px;
  font-weight: 700;
  margin-bottom: 10px;
}

.text-content p {
  width: 100%;
  height: auto;
  color: #FFFFFF;
}
.about p{
  color: #FFFFFF;
  margin-bottom: 125px;
}

.hero-buttons {
  display: flex;
  justify-content: center;
  gap: 15px;
}

.subscribe-btn {
  background: transparent;
  border: 1px solid #00ff88;
  color: #00ff88;
  padding: 10px 22px;
  border-radius: 20px;
  cursor: pointer;
}

.subscribe-btn img {
  width: 20px;
  justify-content: center;
  align-items: center;
}

.about{
  justify-content: center;
  text-align: center;
  background-color: #1A0B2E;
}

.line {
  width: 1200px;
  margin-left: 140px;
  height: 1px;
  background: rgba(255, 255, 255, 0.12);
}
.card-title {
  font-size: 48px;
  font-weight: 800;
  line-height: 50px;
  text-transform: capitalize;
  color:rgba(0, 255, 136, 1) ;
  margin-bottom: 10px;
}
 
.about-card {
  display: grid;
  grid-template-columns: repeat(4,1fr);
  gap: 30px;
  margin-top: 100px;
   margin-bottom: 100px;
}

/* Small device  */

@media screen and (max-width: 576px) {
  .nav-container, .menu-btn {
    grid-template-columns: repeat(1, 1fr);
    display: flex;
    justify-content: space-between;
  }
  .line1{
    width: auto;
  }
  .line{
    width: 500px;
    margin-left: 10px;
  }
  .menu, .btn-primary {
    display: none;
  }
  .logo{
    font-size: 15px;
  }
  .hero-bg img {
    width: 100%;
    background-position: center;
    background-size: cover;
  }
  .image-content {
    top: 14%;
    left: 50%;
  }
  .hero-circle { 
    width: 135px;
  }
  .microphone {
    width: 35px;
  }
  .new-badge {
    font-size: 10px;
    top: 12px;
    left:+90px;
  }
  .text-content {
    margin-top: 0;
    padding: 0 10px;
  }

  .container h2 {
    font-size: 28px;
  }

  .text-content p {
    font-size: 14px;
    line-height: 22px;
  }
  .section-title2{
    margin-top: -210px;
  }

  .section-title{
    margin-top: -400px;
  }
  .about {
    margin: 2px 2px;
  }
  
  .about-card {
    display: grid;
    grid-template-columns: repeat(2,1fr);
  }


}

/* Large Device */
